
<app-navegacion></app-navegacion>
<div class="container p-4">
  <router-outlet></router-outlet>
</div>

<!-- <app-peliculasform></app-peliculasform> -->

<!-- <button (click)="getAllTasks()">getAllTasks()</button>

<button (click)="getTask()">getTask()</button>

<button (click)="createTask()">createTask()</button>

<button (click)="updateTask()">updateTask()</button>


<button (click)="deleteTask()">deleteTask()</button>

 -->

<!-- <li *ngFor="let movie of movies">
  <p>nombre: {{movie.nombre}}</p>
    <p>ID: {{movie.anio}}</p>
    <p>Año: {{movie.puntuacion}}</p>
    <p>Score: {{movie.id}}</p>
</li> -->